<app-navbar></app-navbar>
<div class="container">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <form> <!--#myform="ngForm" (ngSubmit)="submitForm(this.myform)">-->
        <div class="form-group">
          <label>Catagory</label>
          <input type="text" name="name" class="form-control"/>
        </div>

        <div class="form-group">
          <label>Detail</label>
          <input type="text" name="email" class="form-control"/>
        </div>

        <div class="form-group">
          <label>image_src</label>
          <input type="text" name="password" class="form-control"/>
        </div>

        <div class="form-group">
          <label>Name</label>
          <input type="text" name="password" class="form-control"/>
        </div>

        <div class="form-group">
          <label>Price</label>
          <input type="text" name="password" class="form-control"/>
        </div>
        <br>
        <input type="button" class="btn btn-primary btn-block"  value="SUBMIT"><br>
        <input type="button" class="btn btn-primary btn-block" routerLink="\home" value="back">
      </form>


    </div>

    <div class="col-md-4"></div>

  </div>
</div>

